{
  "printWidth": 80,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["src/.vuepress/data/comic.ts", "src/.vuepress/data/av.ts"],
      "options": {
        "printWidth": 10000
      }
    },
    {
      "files": "*.md",
      "options": {
        "parser": "markdown"
      }
    }
  ]
}
