#japanese_urls{
    display: none;
}
.wordsline{
    word-break: break-word;
    white-space: normal;
    word-wrap:break-word;
    width: fit-content;
}
#answer{
    width: fit-content;
    word-break: break-word;
    white-space: normal;
    word-wrap:break-word;
}