$theme-color: #3eaf7c;

// sidebar
$sidebar-width: 18rem;
$sidebar-mobile-width: 16rem;

// content 加宽
$content-width: 980px;
$wide-content-width: 1200px;
$home-page-width: 1360px;

// 使用下列字体会出现放大。
// $font-family: '"Microsoft Yahei"';
// $font-family-heading: '"Microsoft Yahei"';

img[src$=".svg"] {
  html[data-theme="dark"] & {
    filter: invert(1);
  }
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   padding-top: 1rem !important;
// }
